.page-header {
  padding: 10px 0;

  border-bottom: 1px solid var(--header-border);
  &__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  }
}
.menu-thumb {
  display: none;
  width: 100%;
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;
    max-width: 480px;

    background-color: var(--primary-white-color);
  }
}

.header-button {
  background-color: inherit;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;

  margin-left: auto;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--primary-blue-accent-color);
  }
}

.header-button__icon-close {
  display: none;
}

.header-button.is-open .header-button__icon-close {
  display: block;
}
.header-button.is-open .header-button__icon-menu {
  display: none;
}
